/* 
    Document   : style
    Created on : Sep 17, 2014, 12:55:03 PM
    Author     : jwlittle
    Description:
        Purpose of the stylesheet follows.
*/

body{
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color:#8d949a;
    line-height: 20px;
    font-size:14px;
    margin:0px;
    background-color: #ebeff2;
}

.fabutton{
    border-radius: 26px;
    background-color:#f5f5f5;
    height: 26px;
    line-height: 26px;
    margin-right: 8px;
    text-align: center;
    vertical-align: top;
    width:26px;
}

.topnavbtn{
    display: table;
    text-decoration: none;
}

.topnavbtn0:hover{
    background-color: #1e8bc3;
    text-decoration: none;
}

.topnavbtn1:hover{
    background-color: #f86924;
    text-decoration: none;
}

.topnavbtn2:hover{
    background-color: #ff9f00;
    text-decoration: none;
}

.topnavbtn3:hover{
    background-color: #35bc7a;
    text-decoration: none;
}

.topnavbtn4:hover{
    background-color: #f05a49;
    text-decoration: none;
}

.topnavbtn div{
    background-color: #fff;
    margin-top: 6px; 
    margin-bottom: 6px;
    height: 120px;
    display: block;
    vertical-align: middle;
    width: 140px;    
    padding-top:15px;
}

.topnavul{
    display:block;
}
.topnavul li{
    display: inline;
    float:left;
    margin-left:20px;
    width:140px;
}